
.form{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 0%;
    padding-right: 0%;

}

.input[type='email']{
    border-radius: 10px;
}

.title-input{
    height: 30px;
    border: 0;
    margin-bottom: 30px
}


.unsplash{

margin-bottom: 30px;
background-color: 0.8px solid silver;
border-radius: 5px;
}
.Addtitle{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    border : 0.8px solid silver;
}

#t{
    
    align-self: flex-end;
    border: none;
    width: 55vw;
    border-bottom: 0.8px solid silver;
}
#t:focus{
    outline: none;    
}

.tags_c{
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    border: 0.8px solid silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check {
    width: 85vw;
}