header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.8px solid #2E0300;
    height: 100px;
    color: #2E0300;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color:#F8F8F8;
    
}

#n{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 0.8px solid #2E0300;
}

.d_l{
    margin-bottom: 5px;
}

.d_l Link {
    text-decoration: none;
}
.d_l button{
    border: none;
    background-color: white;
}
.d_ul{
    border: 0.8px solid #2E0300;
    list-style: none;
    position: absolute;
    top: 12.5vh;
    right: 10vw;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.brand{
    display: flex;
    color: #2E0300;
}

.logo{
    margin-right: 20px;
}
.h-pic{
    border-radius: 50%;
    border: 0.8px solid #2E0300;
    height: 7vh;
    width: 7vh;
    cursor: pointer;
}
.h-pic:hover{
    border-radius: 50%;
    border: 2px solid #2E0300;
}

.h-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2E0300;
    width:35%
}

.name{
    font-size: xx-large;
}

.logo{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.link{
    color: #2E0300;
}

.link:hover{
    text-decoration:none;
}

@media screen and (max-width:576px) {
    .header{
        height: 50px;
    }
    .name{
        font-size: large;
    }
    .links{
        width: 35%;
        font-size: small;
    }
    .logo{
        margin-right: 10px;
    }
    .logo{
        height: 30px;
        width: 30px;
        object-fit: cover;
    }
}