.ab{
    display:none;
}

.name{
    font-family: 'Pacifico', cursive;
}
.break{
    /* height: 5px; */
    /* border-top: 2px solid #2E0300; */
    /* border-bottom: 5px double #2E0300; */
    margin-left: 10vw;
    margin-right: 10vw;
    /* background-color: #2E0300; */
}

.d_ul{
    top:100px;
    right:10vw;
    /* width: 15vw; */
}
#cat{
    top:100px;
    right: 10vw;
}

@media screen and (max-width:600px){
#shift{
    top:100px;
    right: 10vw;
}
}

header{
    border-bottom: 5px double #2E0300;
}

@media screen and (max-width:640px) {
    
}

@media screen and (max-width:800px) {
    .mb-nav{
        width:70%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    #shift{
        top:100px;
        right: 10vw;
    }
    .logo{
        height: 30px;
        width: 30px;
        object-fit: cover;
        align-self: center;
    }
    /* .mb-nav{
        width:41%;
        display: flex;
        justify-content: space-between;
    } */
}
@media screen and (max-width:800px) {
    .logo{
        display: none;
    }
    .hl{
        align-self: center;
    }
    
    .h-pic-mb{
            border-radius: 50%;
            border: 0.8px solid #2E0300;
            height: 30px;
            width: 30px;
            cursor: pointer;
            /* margin-left: 20px; */
    }
    .h-pic{
        display: none;
    }
    .drop{
        display: none;
    }
    .h_nav{
        display: flex;
        flex-direction: row;
        margin-right: 2vw;
        /* display: none; */
    }
  
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border-bottom: 5px solid #2E0300; */
        height: 100px;
        color: #2E0300;
        margin-left: 10vw;
        margin-right: 10vw;
        background-color:#F8F8F8;
        
    }
    
    
    
    .hl{
        margin-left: 30px;
    }
    
    #n{
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 0.8px solid #2E0300;
    }
    
    .d_l{
        margin-bottom: 5px;
    }
    
    .d_l Link {
        text-decoration: none;
    }
    .d_l button{
        border: none;
        background-color: white;
    }
    .d_ul{
        border: 0.8px solid #2E0300;
        list-style: none;
        position: absolute;
        /* top: 12vh; */
        /* right: 10vw; */
        background-color: white;
        padding: 10px;
        z-index: 1;
    }
    
    .brand{
        display: flex;
        color: #2E0300;
    }
    
    .logo{
        margin-right: 20px;
    }
    .h-pic{
        border-radius: 50%;
        border: 0.8px solid #2E0300;
        height: 45px;
        width: 45px;
        cursor: pointer;
        margin-left: 20px;
    }
    .h-pic:hover{
        /* border-radius: 50%; */
        border: 2px solid #2E0300;
    }
    
    .h-links{
        display: flex;
        justify-content: space-between;
        /* align-items: baseline; */
        color: #2E0300;
    }
    
    .name{
        font-size: x-large;
        font-family: 'Pacifico', cursive;
        align-self: center;
        /* display: none; */
    }
    .catmb{
        margin-left: 3vw;
    }
    /* .logo{
        height: 30px;
        width: 30px;
        object-fit: cover;
        display: none;
    } */
    
    .link{
        color: #2E0300;
    }
    
    .link:hover{
        text-decoration:none;
    }
    .cat_ul{
        border: 0.8px solid #2E0300;
        list-style: none;
        position: absolute;
        /* top: 12vh; */
        /* right: 20vw; */
        background-color: white;
        padding: 10px;
        z-index: 1;
    }
    .hamb{
        display: none;
    }
    .writeL{
        display: none;
    }
}

@media screen and (min-width:800px){
    .h-pic-mb{
        display: none;
    }
    .hamb{
        display: none;
    }
.drop{
    display: none;
}
.h_nav{
    display: block;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px dashed #2E0300; */
    height: 100px;
    color: #2E0300;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color:#F8F8F8;
    
}



.hl{
    margin-left: 30px;
}

#n{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 0.8px solid #2E0300;
}

.d_l{
    margin-bottom: 5px;
}

.d_l Link {
    text-decoration: none;
}
.d_l button{
    border: none;
    background-color: white;
}
.d_ul{
    border: 0.8px solid #2E0300;
    list-style: none;
    position: absolute;
    /* top: 12vh; */
    /* right: 10vw; */
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.brand{
    display: flex;
    color: #2E0300;
}

.logo{
    margin-right: 20px;
}
.h-pic{
    border-radius: 50%;
    border: 0.8px solid #2E0300;
    height: 45px;
    width: 45px;
    cursor: pointer;
    margin-left: 20px;
}
.h-pic:hover{
    /* border-radius: 50%; */
    border: 2px solid #2E0300;
}

.h-links{
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    color: #2E0300;
}

.name{
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
    align-self: center;
}

.logo{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.link{
    color: #2E0300;
}

.link:hover{
    text-decoration:none;
}

.cat_ul{
    border: 0.8px solid #2E0300;
    list-style: none;
    position: absolute;
    /* top: 12vh; */
    /* right: 20vw;
     */
    background-color: white;
    padding: 10px;
    z-index: 1;
}
.wd{
    display: none;
}
}

/* @media screen and (max-width:576px) {
    .header{
        height: 50px;
    }
    .name{
        font-size: large;
    }
    .links{
        width: 35%;
        font-size: small;
    }
    .logo{
        margin-right: 10px;
    }
    .logo{
        height: 30px;
        width: 30px;
        object-fit: cover;
    }
} */