/* *{

    color: red

}
a{
    color: red
} */

.auth_info{
    margin-top: 2vh;
}

.desc{
    margin-top: 1vh;
}

.topCRD{
    border: 0.8px solid #dedede;
    background-color: white;
    height: 215px;
}
.topIMG{
    width: 40%;
}

.topIMG img{
    width: 100%;
    height: 100%;
    max-height: 210px;
    object-fit: cover;
}
.tbody{
    width: 60%;
}
/* #EXcard{
    display: none;
}

#EXcard{
    display: block;
    font-size: small;
    height: 50vh;
    background-color: white;
    border: 0.8px solid #dedede;
}
.cbody{
    padding: 10px;
}
.top-a-img-ex img{
    height: 100%;
    object-fit: cover;
}
} */

.tbody{
    padding: 20px;
}


@media (max-width: 639px) {
    .topCRD{
        height: 450px;
    }
    .topIMG{
        width: 100%;
    }
    
    .topIMG img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .tbody{
        width: 100%;
    }

    *{
        font-size: small;
    }

    /* #Pcard{
        display: block;
    }
    #Lcard{
        display: none;
    } */

    #p4{
        width:100%
    }
    #p6{
        width:100%
    }
    #p4e{
        display: none;
    }
    #p6e{
        display: none;
    }

    .portrait{
        object-fit: cover;
        height: 30vh;
        width: 100%;
    }
    .home .col{
        height: 70vh;
    }
  }

  /* landscape and tab */
@media (min-width:640px) and (max-width:1024px) {

    *{
        font-size: small;
    }

    #Lcard{
        display: flex;
        flex-direction: row-reverse;
    } 


    .home .col{
        height: 120vh;
    }

    /* #Pcard{
        display: none;
    }
    #Lcard{
        display: block;
    } */

#p4{
    width:50%
}
#p6{
    width:50%
}
#p4e{
    width:50%
}
#p6e{
    width:50%
}

/* #p4{
    width:40%
}
#p6{
    width:60%
}
#p4e{
    width:40%
}
#p6e{
    width:60%
} */

.portrait{
    object-fit: cover;
    height: 45vh;
    width: 100%;
}

}

@media (min-width:1024px){
  
    #Lcard{
        display: flex;
        flex-direction: row-reverse;
    } 

    #p4{
        width:40%
    }
    #p6{
        width:60%
    }
    #p4e{
        width:40%;
    }
    #p6e{
        width:60%;
    }

    .portrait{
        object-fit: cover;
        height: 60vh;
        width: 100%;
    }
    .home .col{
        height: 85vh;
    }

}

/* 130vh and 50%w -- mobile portrait */
.home-cover-img{
    border-bottom: 0.8px solid #2E0300;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.top-a-img{
    z-index: 0;
}
.auth_pic{
    border-radius: 50%;
    height: 6vh;
    margin-right: 15px;
}
.authInfo{
    height: 8vh;
}
.home{
    margin: 5vh 10vw 10vh 10vw;
}

.homeImage{
    object-fit: cover;
    height:50%;
}

.left{
    width: 35vw;
}

.rl{
    color: #2E0300;
    text-decoration: underline;
}
.rl:hover{
    color: #2E0300;
    text-decoration: none;
}

.link{
    color: #2E0300;
    text-decoration: none;
}
.link:hover{
    color: #2E0300;
    text-decoration: none;
}

.trending{
    /* border-top: 0.8px solid #2E0300; */
}

.cat{
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top:0.8px solid #2E0300;
}

.top{
    margin-bottom: 5vh;
}

.link{
    color: #2E0300;
}

.link:active{
    text-decoration:none;
}

.link:hover{
    text-decoration:none;
}

.hv{
  display: flex;
  justify-content: center;
}