/* *{
    color: red

}
a{
    color: red
} */



.home .col{
    height: 80vh;
}
.home-cover-img{
    border-bottom: 0.8px solid #2E0300;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.top-a-img{
    z-index: 0;
}
.auth_pic{
    border-radius: 50%;
    height: 6vh;
    margin-right: 15px;
}
.authInfo{
    height: 8vh;
}
.home{
    margin: 5vh 10vw 10vh 10vw;
}

.homeImage{
    object-fit: cover;
    height:50%;
}

.left{
    width: 35vw;
}

.rl{
    color: #2E0300;
    text-decoration: underline;
}
.rl:hover{
    color: #2E0300;
    text-decoration: none;
}

.link{
    color: #2E0300;
    text-decoration: none;
}
.link:hover{
    color: #2E0300;
    text-decoration: none;
}

.trending{
    /* border-top: 0.8px solid #2E0300; */
}

.cat{
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top:0.8px solid #2E0300;
}

.top{
    margin-bottom: 5vh;
}

.link{
    color: #2E0300;
}

.link:active{
    text-decoration:none;
}

.link:hover{
    text-decoration:none;
}
.portrait{
    object-fit: cover;
    height: 60vh;
    width: 100%;
}
.hv{
  display: flex;
  justify-content: center;
}