
#s_link{
    text-decoration: none;
    /* margin-right: 2vw; */
}
.edit{
    margin-right: 2vw;
}
.cmt_input{
    padding: 8px!;
    flex: 1 ;
    border: 0.8px solid #2E0300 ! ;
}

.del_cmt_btn{
    border: none;
    background-color: #F8F8F8;
}
.comments_cont{
    background-color: white;
    border: 0.8px solid #2E0300;
    /* border-radius: 10px; */
    padding: 20px;
    margin-top: 5vh;
}

.content{
    margin:5vh 10vw 5vh 10vw;
}
.s-icon{
    height: 7vh;
}
.l_count{
    padding-top: 1vh;
    margin-right: 1vw;
}
.c_count{
    padding-top: 1vh;
}
.r-pic{
    border-radius: 50%;
    /* height: 12vh; */
    margin-right: 2vw;
}

.read-cover{
    width: 100%;
    /* height: 65vh; */
    object-fit: cover;
}

.title{
    margin: auto;
}

.body img{
    max-width:100%;
    max-height: 65vh;
    object-fit: cover;
    /* margin-left: calc(50%-width); */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon{
    cursor: pointer;
    width: 30px;
    height: auto;
}
.r-mark{
    border: none;
    background-color: #F8F8F8;
    margin-right: 3vw;
}

.like{
    border: none;
    background-color: #F8F8F8;
}

.comment{
    background-color: #F8F8F8;
    /* background-color: #e9b74c; */
    border: 0.8px solid #2E0300;
    /* border-radius: 5px; */
    padding: 10px;
}

.read-a-h{
    padding-top: 1vh;
}

.sbt_cmt{
    width: 10%;
    padding-left: 1vw;
}

.comment-btn{
    border: none;
    background-color: #F8F8F8;
}

@media  screen and (max-width:600px) {
    #s_link{
        display: none;
    }
    #share-pc{
        display: none;
    } 
    /* #share-L{
        display: none;
    }  */
    #share-mob{
        display: flex;
    } 

    .read-cover{
        height: 30vh;
    }
    .r-pic{
        height: 9vh;
    }
}

@media  screen and (min-width:600px) {
    .read-cover{
        height: 65vh;
    }
    .r-pic{
        height: 17vh;
    }
}

@media  screen and (min-width:600px) and (max-width:800px) {
    /* #share-pc{
        display: none;
    }  */
    #share-mob{
        display: none;
    } 
    #share-pc{
        display: flex;
    } 
}

@media  screen and (min-width:800px) {
    #share-mob{
        display: none;
    } 
}