.tags{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    width: 55vw;
}
.tag{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width:"578px") {
    
    .tag{
        width: 25%;
    }
}

@media screen and (max-width: 578px) {
    .tag {
      width: 40%;
    }
  }
