a:hover{
    text-decoration-line: underline;
    color: blue;
    cursor: pointer;
}
a{
    text-decoration:none;
    color: black;
}
.g{
    height: 5vh;
    width: 5vw;
}

/* input[type='email']{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
input[type='password']{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
} */

.form-control{
    padding-left: 0;
    padding-right: 0;
}

.outer{
    background-color: #f5f5f5;
}
/* .outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6666ff 0%, #00ffcc 106%);
}

.error{
    padding: 0;
    color: red;
}
.inner-container{
    padding: 30px;
    
    border-radius: 15px;
}
.head{
    color: blue;
}
.or{
    color: blue
}
a:hover{
cursor: pointer;
text-decoration: none;
} */


/* .error h1{
    color: red
} 
@media screen and (min-width: 576px) {
    .inner-container{
        padding : 10px 50px 10px 50px;
        max-height: 90vh;
        max-width: 300px;
      
    }
    
    input[type='password']{
        margin-bottom: 10px
    }
    .fp{
        margin: 10px;
    }
    .gl{
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 576px) {
      .gl{
          margin-bottom: 10px;
      }
      input[type='email']{
        margin-bottom: 10px
    }
      input[type='password']{
        margin-bottom: 10px
    }
    .btn{
        margin-bottom: 10px
    }
  } */