.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6666ff 0%, #00ffcc 106%);
}

.error{
    padding: 0;
    color: red;
}
.inner-container{
    padding: 30px;
    
    border-radius: 15px;
}
.head{
    color: blue;
}
.or{
    color: blue
}
a:hover{
cursor: pointer;
text-decoration: none;
}

h1{
    color: blue;
}

.error h1{
    color: red
} 
@media screen and (min-width: 576px) {
    .inner-container{
        padding : 10px 50px 10px 50px;
        max-height: 90vh;
      
    }
    
    input[type='password']{
        margin-bottom: 10px
    }
    .fp{
        margin: 10px;
    }
    .gl{
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 576px) {
      .gl{
          margin-bottom: 10px;
      }
  }